*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.section-padding{
    padding: 20px 0;
}
body{
    background-image: url('assets/img/back.jpg');
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list{
    padding: 20px 0;
    width: 22%;
    height: 200px;
    border: 3px solid green;
    text-align: center;
    background-color: white;
    margin: 20px 0 ;

}
.img-fluid{
    width: 20%;
    object-fit: cover;


}
.text-uppercase{
    margin: 10px;
    text-transform: uppercase;
    font-size:30px;
}
.text-p{
    font-size:18px;
}
a{
    text-decoration: underline;

}
.contact-info{
    color: white;
    width: 50%;
    height: 500px;
    background-color: black;
h3{
    font-size: 20px;
}
    h4{
        font-size: 20px;
    }
}
.title{
    font-size: 50px;
    color: white;
}

.form-control{
    margin: 20px;
    width: 50%;
    height: 50px;
    background-color: black;
    border-bottom: 3px solid white;
}
.index{
    width: 50%;
}
.col{
    width: 40%;
}
.message{
    margin: 20px 0;
    width: 92%;
    color: white;
    background-color: black;
    border-bottom: 3px solid white;
}
.btn{
    width:90%;
    height:50px;

    color: black;
    background-color:white;
    font-size: 20px;
}
.google-map{
width: 50%;
}